{% extends "base-template.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

<div class="container-sm">
    <div class="profile">
        <img class="profile-avatar" src="{{userAccount.profilePicture.url}}">
        <form method="POST">
            {% csrf_token %}
            {% if userAccount.userID != viewingAccount.userID %}
            <button type="submit" value={{userAccount.userID}} name="followButton" class="profile-follow">
                {% if userAccount.userID in followed %}Unfollow{% else %}Follow{% endif %}
            </button>
            {% endif %}
        </form>
    </div>
    <h1>
        {{userAccount.username}} Tweets
    </h1>
    <div>
        <ul class="tweet-list">

            {% for tweet in tweets %}
            <li class="tweet-item">
                <div class="tweet-user-content">
                    <a href="/page/{{tweet.getUsername}}"><h3 class="tweet-user"><img src="{{tweet.getUserProfilePic.url}}"> {{tweet.getUsername}}</h3></a>
                    <form method="POST">
                        {% csrf_token %}
                        {% if tweet.getUserID != viewingAccount.userID %}
                        <button type="submit" value={{tweet.getUserID}} name="followButton" class="tweet-follow">
                            {% if tweet.getUserID in followed %}Unfollow{% else %}Follow{% endif %}
                        </button>
                        {% endif %}
                    </form>
                </div>

                <h3 class="tweet-message">{{tweet.message}}</h3>
                {% if tweet.media %}
                <img class="tweet-media" src="{{tweet.media.url}}">
                {% endif %}


                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" value={{tweet.tweetID}} name="likeButton" class="tweet-like">
                        <i class="fa{% if tweet.tweetID not in likedTweets %}r{%endif%} fa-heart" id="heart-icon">
                        </i>
                    </button>
                </form>
                
            </li>
            {% endfor %}



        </ul>
    </div>
    {% if viewingAccount.username == userAccount.username %}
    <h1>
        Create Tweets
    </h1>
    <div>
        <form method="POST" class="container-sm" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <p></p>
            <input type="submit" value="submitTweet" class="btn btn-success" name="submitTweet" />
            <p></p>
        </form>
    </div>

    <h1>
        Set Profile Picture
    </h1>
    <div>
        <form method="POST" class="container-sm" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="form-label" for="customFile">New Profile Picture</label>
            <input type="file" class="form-control" id="profilePicture" accept="image/*" name="newProfile"/>
            <p></p>
            <input type="submit" value="changeProfile" class="btn btn-success" name="changeProfile" />
            <p></p>
        </form>
    </div>
    {% endif %}
</div>



{% endblock %}