{% extends "base-template.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-sm">
    <h1>
        Tweets
    </h1>
    <div>
        <ul>
            {% for tweet in tweets %}
            <li class="bg-secondary">
                <h3>Username: {{tweet.getUsername}}</h3>
                <form method="POST">
                    {% csrf_token %}
                    {% if tweet.getUserID != userID %}
                    <button type="submit" value={{tweet.getUserID}} name="followButton">{% if tweet.getUserID in followed%}Unfollow{% else %}Follow{% endif %}</button>
                    {% endif %}
                </form>
                <h3>{{tweet.message}}</h3>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" value={{tweet.tweetID}} name="likeButton"><i
                            class="fa{% if tweet.tweetID in likedTweets %}r{%endif%} fa-heart"
                            id="heart-icon"></i></button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

    <h1>
        Create Tweets
    </h1>
    <div>
        <form method="POST" class="container-sm">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="submitTweet" class="btn btn-success" name="submitTweet" action="/" />
        </form>
    </div>
</div>



{% endblock %}