{% extends "base-template.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

<div class="daddy">
    <div class="daddy-container">
        <form method="POST" action="{% url 'login' %}" class="da-form">
            {% csrf_token %}
            {{ form|crispy }}
            <p></p>
            <input type='submit' value='login' class="btn btn-success"/>
        </form>
    </div>
</div>




{% endblock %}