{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Twitter</a>
        </div>

        <ul class="nav">
            {% if user.is_authenticated != True %}

            <li class="nav-item">
                <a class="nav-link" href="/accounts/login">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/accounts/register">Register</a>
            </li>

            {% elif user.is_authenticated %}

            <form class="form-inline" id="search-form" action="{% url 'search' %}">
                <input class="form-control mr-sm-2" type="search" id="search" placeholder="Search Accounts" aria-label="Search">    
            </form>

            <li class="nav-item active">
                <a class="nav-link" href="/page/{{user.username}}">{{user.username}}</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/">Feed</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/accounts/logout">Logout</a>
            </li>

            {% endif %}
        </ul>

    </div>

</nav>
{% endblock %}